.header {
  background-color: var(--gray-700);
  height: 10rem;

  display: flex;
  justify-content: center;

  margin-bottom: -2rem;
}

.header img {
  height: 3rem;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: -2.4rem;
  }
}
